@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-main;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-light; 
}

html{
    scroll-behavior: smooth;
}

[x-cloak]{
    display: none !important;
}


@font-face {
    font-family: 'lemon_medium';
    src: url('../fonts/lemon_milk_medium.otf');
}
@font-face {
    font-family: 'lemon_bold';
    src: url('../fonts/lemon_milk_bold.otf');
}

.lemon_m{
    font-family: 'lemon_medium';
}

.lemon_b{
    font-family: 'lemon_bold';
}

@font-face {
    font-family: 'beyonders';
    src: url('../fonts/beyonders.otf');
}

.beyonders{
    font-family: 'beyonders';
}

.bebas{
    font-family: 'Bebas Neue', sans-serif;
}

.space{
    font-family: 'Space Grotesk', sans-serif;
}

p{
    font-family: "Space Grotesk", sans-serif;
}