@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-main;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-light; 
}

html{
    scroll-behavior: smooth;
}

[x-cloak]{
    display: none !important;
}


@font-face {
    font-family: 'race_sport';
    src: url('../fonts/race_sport.ttf');
}

.race_sport{
    font-family: 'race_sport';
}

.bebas{
    font-family: 'Bebas Neue', sans-serif;
}

.space{
    font-family: 'Space Grotesk', sans-serif;
}

.links a{
    @apply text-dark transition-all;
}

.links a:hover{
    @apply  text-main;
}